[Unit]
Description=SMB WebAdmin Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/html/smbadmin/api
ExecStart=/var/www/html/smbadmin/api/venv/bin/python /var/www/html/smbadmin/api/app.py
User=www-data
Group=www-data
Restart=on-failure

[Install]
WantedBy=multi-user.target
